body {
 background-color: #FFFFE0; /* WARNA KUNING CERAH */
  font-family: Arial, sans-serif; /* jenis huruf yang bersih dan mudah dibaca */
  color: #191970; /* warna teks utama (biru gelap) */
}
.kartu-profil {
  width: 300px;
  margin: 20px auto; /* 50px jarak atas/bawah, auto menengahkan kiri/kanan */
  pading: 60px;
  background-color: white;
  border-radius: 37px; /* membuat sudut melengkung */
  box shadow: 0 4px 8px rgba (0,0,0,0,.1( /* efek bayangan */
}

.kartu-profil img {
  width: 20px;
  border-radius: 50% /* Trik untuk membuat gambar persegi menjadi lingkaran 
}
